// ==================== 基础色彩 ====================
$color-primary: #1677ff;
$color-primary-hover: #4096ff;
$color-primary-active: #0958d9;

$color-default: #fff;
$color-default-hover: #fff;
$color-default-active: #fff;

$color-disable: rgba(0, 0, 0, 0.04);
$color-disabled-text: rgba(0, 0, 0, 0.25);

$color-text-black: rgba(0, 0, 0, 0.88);
$color-text-white: #fff;
$color-border: #d9d9d9;

// ==================== 字体 ====================
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;

// ==================== 边框、圆角 ====================
$border-radius: 6px;
$border-width: 0.8px;
$border-style: solid;

// ==================== 尺寸/控件高度 ====================
$control-height: 32px;
$control-height-lg: 40px;
$control-height-sm: 24px;

// ==================== 动效 ====================
$transition-duration: .3s;
$transition-ease: cubic-bezier(.645, .045, .355, 1);

// ==================== 按钮专用变量 ====================
// ------ 结构、尺寸、字体 ------
$btn-border-radius: $border-radius;
$btn-border-width: $border-width;
$btn-border-style: $border-style;
$btn-font-family: $font-family;
$btn-font-size: $font-size-base;
$btn-height: $control-height;
$btn-padding-x: 15px;
$btn-padding-y: 0;
$btn-transition-duration: $transition-duration;
$btn-transition-ease: $transition-ease;

// ------ 大小适配 ------
$btn-height-sm: $control-height-sm;
$btn-height-lg: $control-height-lg;
$btn-font-size-sm: $font-size-sm;
$btn-font-size-lg: $font-size-lg;

// ------ 主按钮（primary） ------
$btn-primary-bg: $color-primary;
$btn-primary-color: $color-text-white;

$btn-primary-bg-hover: $color-primary-hover;
$btn-primary-color-hover: $color-text-white;

$btn-primary-bg-active: $color-primary-active;
$btn-primary-color-active: $color-text-white;

// ------ 默认按钮（default） ------
$btn-default-bg: $color-default;
$btn-default-color: $color-text-black;
$btn-default-border-color: $color-border;

$btn-default-bg-hover: $color-default-hover;
$btn-default-color-hover: $color-primary-hover;
$btn-default-border-hover: $color-primary-hover;

$btn-default-bg-active: $color-default-active;
$btn-default-color-active: $color-primary-active;
$btn-default-border-active: $color-primary-active;

// ------ 不可用按钮（disabled） ------
$btn-disabled-bg: $color-disable;
$btn-disabled-border: $color-border;
$btn-disabled-color: $color-disabled-text;
$btn-disabled-opacity: 1;
$btn-disabled-cursor: not-allowed;

// ------ 虚线按钮（dashed） ------
$btn-dashed-bg: $color-default;
$btn-dashed-color: $color-text-black;
$btn-dashed-border-color: $color-border;
$btn-dashed-border-style: dashed;

$btn-dashed-bg-hover: $color-default-hover;
$btn-dashed-color-hover: $color-primary-hover;
$btn-dashed-border-hover: $color-primary-hover;

$btn-dashed-bg-active: $color-default-active;
$btn-dashed-color-active: $color-primary-active;
$btn-dashed-border-active: $color-primary-active;

// ------ 文本按钮（text） ------
$btn-text-bg: tran;
$btn-text-color: $color-text-black;

$btn-text-bg-hover: rgba(0,0,0,0.04);
$btn-text-color-hover: $color-text-black;

$btn-text-bg-active: rgba(0,0,0,0.15);
$btn-text-color-active: $color-text-black;

// ------ 链接按钮（link） ------
$btn-link-bg: $color-default;
$btn-link-color: $color-primary;
$btn-link-color-hover: #69b1ff;
$btn-link-color-active: #0958d9;