@use '../../styles/variables' as v;
@use 'sass:color';

@mixin ghost-variant($base-color, $hover-color: $base-color, $active-color: $base-color) {
    background: transparent;
    color: $base-color;
    border-color: $base-color;

    &:hover:not(.btn-disabled):not(:disabled) {
        background: transparent;
        color: $hover-color;
        border-color: $hover-color;
    }

    &:active:not(.btn-disabled):not(:disabled) {
        background: transparent;
        color: $active-color;
        border-color: $active-color;
    }
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: v.$btn-border-radius;
    border-width: v.$btn-border-width;
    border-style: v.$btn-border-style;
    font-family: v.$btn-font-family;
    font-size: v.$btn-font-size;
    height: v.$btn-height;
    padding: v.$btn-padding-y v.$btn-padding-x;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.645, .045, .355, 1);
    background: transparent;
    color: v.$btn-default-color;
    border-color: transparent;
    position: relative;
    box-shadow: 0 2px 0 rgba(255, 38, 5, 0.06);

    // 块级按钮
    &-block {
        width: 100%;
        display: block;
    }

    &:disabled {
        cursor: not-allowed;
        background: v.$btn-disabled-bg;
        color: v.$btn-disabled-color;
        border-color: v.$btn-disabled-border;
    }

    // Primary 类型
    &-primary {
        background: v.$btn-primary-bg;
        color: v.$btn-primary-color;

        &:hover:not(.btn-disabled):not(:disabled) {
            background: v.$btn-primary-bg-hover;
            color: v.$btn-primary-color-hover;
        }

        &:active:not(.btn-disabled):not(:disabled) {
            background: v.$btn-primary-bg-active;
            color: v.$btn-primary-color-active;
        }

        &.btn-ghost {
            @include ghost-variant(v.$btn-primary-bg, v.$btn-primary-bg-hover, v.$btn-primary-bg-active);
        }

        &.btn-danger {
            background: #ff4d4f;
            color: #fff;

            &:hover:not(.btn-disabled):not(:disabled) {
                background: #ff7875;
                color: #fff;
            }

            &:active:not(.btn-disabled):not(:disabled) {
                background: #d9363e;
                color: #fff;
            }
        }
    }

    // Default 类型
    &-default {
        background: v.$btn-default-bg;
        color: v.$btn-default-color;
        border-color: v.$btn-default-border-color;

        &:hover:not(.btn-disabled):not(:disabled) {
            background: v.$btn-default-bg-hover;
            color: v.$btn-default-color-hover;
            border-color: v.$btn-default-border-hover;
        }

        &:active:not(.btn-disabled):not(:disabled) {
            background: v.$btn-default-bg-active;
            color: v.$btn-default-color-active;
            border-color: v.$btn-default-border-active;
        }

        &.btn-ghost {
            @include ghost-variant(v.$btn-default-bg, v.$btn-primary-bg-hover, v.$btn-primary-bg-active);
        }

        &.btn-danger {
            background: #fff;
            color: #ff4d4f;
            border-color: #ff4d4f;

            &:hover:not(.btn-disabled):not(:disabled) {
                background: #fff;
                color: #ff7875;
                border-color: #ff7875;
            }

            &:active:not(.btn-disabled):not(:disabled) {
                background: #fff;
                color: #d9363e;
                border-color: #d9363e;
            }
        }
    }

    &-dashed {
        background: v.$btn-dashed-bg;
        color: v.$btn-dashed-color;
        border-color: v.$btn-dashed-border-color;
        border-style: dashed;

        &:hover:not(.btn-disabled):not(:disabled) {
            color: v.$btn-dashed-color-hover;
            border-color: v.$btn-dashed-border-hover;
            background: v.$btn-dashed-bg-hover;
        }

        &:active:not(.btn-disabled):not(:disabled) {
            background: v.$btn-dashed-bg-active;
            color: v.$btn-dashed-color-active;
            border-color: v.$btn-dashed-border-active;
        }

        &.btn-ghost {
            @include ghost-variant(v.$btn-dashed-bg, v.$btn-primary-bg-hover, v.$btn-primary-bg-active);
        }

        &.btn-danger {
            background: #fff;
            color: #ff4d4f;
            border-color: #ff4d4f;

            &:hover:not(.btn-disabled):not(:disabled) {
                background: #fff;
                color: #ff7875;
                border-color: #ff7875;
            }

            &:active:not(.btn-disabled):not(:disabled) {
                background: #fff;
                color: #d9363e;
                border-color: #d9363e;
            }
        }
    }

    &-text {
        color: v.$btn-text-color;
        border: none;
        box-shadow: none;

        &:hover:not(.btn-disabled):not(:disabled) {
            background-color: v.$btn-text-bg-hover;
            color: v.$btn-text-color-hover;
        }

        &:active:not(.btn-disabled):not(:disabled) {
            background-color: v.$btn-text-bg-active;
            color: v.$btn-text-color-active;
        }

        &.btn-danger {
            color: #ff4d4f;

            &:hover:not(.btn-disabled):not(:disabled) {
                background: #fff2f0;
                color: #ff4d4f;
            }

            &:active:not(.btn-disabled):not(:disabled) {
                background: #ffccc7;
                color: #ff4d4f;
            }
        }
    }

    &-link {
        color: v.$btn-link-color;
        border: none;
        box-shadow: none;
        text-decoration: none;

        &:hover:not(.btn-disabled):not(:disabled) {
            color: v.$btn-link-color-hover;
        }

        &:active:not(.btn-disabled):not(:disabled) {
            color: v.$btn-link-color-active;
        }

        &.btn-danger {
            color: #ff4d4f;

            &:hover:not(.btn-disabled):not(:disabled) {
                color: #ff7875;
            }

            &:active:not(.btn-disabled):not(:disabled) {
                color: #d9363e;
            }
        }
    }

    // 大小适配
    &-large {
        height: v.$btn-height-lg;
        font-size: v.$btn-font-size-lg;
        padding: v.$btn-padding-y v.$btn-padding-x;
    }

    &-small {
        height: v.$btn-height-sm;
        font-size: v.$btn-font-size-sm;
        padding: v.$btn-padding-y 7px;
    }

    &-loading {
        opacity: 0.65;
        cursor: default;
    }
}

.btn-anim {
    animation: btn-spread-shadow 0.35s cubic-bezier(.645, .045, .355, 1) forwards;
}

@keyframes btn-spread-shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(22, 119, 255, 0.07); // 起点：无阴影
    }

    70% {
        box-shadow: 0 0 0 6px rgba(22, 119, 255, 0.07); // 扩散到最大，透明度保持
    }

    100% {
        box-shadow: 0 0 0 8px rgba(22, 119, 255, 0.03); // 渐隐为0，半径可略再大一点
    }
}

.btn-icon-left {
    margin-right: 8px;
}

.btn-icon-right {
    margin-left: 8px
}

.loading-fade-enter {
    opacity: 0;
    max-width: 0;
}

.loading-fade-enter-active {
    opacity: 1;
    max-width: 20px;
    transition:
        opacity 0.2s ease-in-out,
        max-width 0.2s ease-in-out;
}

.loading-fade-exit {
    opacity: 1;
    width: 14px;
    transition:
        opacity 0.2s ease,
        width 0.2s ease,
        margin-right 0.2s ease,
        margin-left 0.2s ease;
}

.loading-fade-exit-active {
    opacity: 0;
    width: 0;
    margin: 0;
}