@use '../../styles/variables' as v;
@use 'sass:color';

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: v.$btn-border-radius;
    border-width: v.$btn-border-width;
    border-style: v.$btn-border-style;
    font-family: v.$btn-font-family;
    font-size: v.$btn-font-size;
    height: v.$btn-height;
    padding: v.$btn-padding-y v.$btn-padding-x;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.645, .045, .355, 1);
    background: transparent;
    color: v.$btn-default-color;
    border-color: v.$btn-default-border-color;
    position: relative;

    // 块级按钮
    &-block {
        width: 100%;
        display: block;
    }

    &:disabled {
        cursor: not-allowed;
        background: v.$btn-disabled-bg;
        color: v.$btn-disabled-color;
        border-color: v.$btn-disabled-border;
    }

    // Primary 类型
    &-primary {
        background: v.$btn-primary-bg;
        color: v.$btn-primary-color;
        border-color: v.$btn-primary-border-color;

        &:hover:not(.btn-disabled):not(:disabled) {
            background: v.$btn-primary-bg-hover;
            border-color: v.$btn-primary-border-hover;
            color: v.$btn-primary-color-hover;
        }

        &:active:not(.btn-disabled):not(:disabled) {
            background: v.$btn-primary-bg-active;
            border-color: v.$btn-primary-border-active;
            color: v.$btn-primary-color-active;
        }
    }

    // Default 类型
    &-default {
        background: v.$btn-default-bg;
        color: v.$btn-default-color;
        border-color: v.$btn-default-border-color;

        &:hover:not(.btn-disabled):not(:disabled) {
            color: v.$btn-default-color-hover;
            border-color: v.$btn-default-border-hover;
            background: v.$btn-default-bg-hover;
        }

        &:active:not(.btn-disabled):not(:disabled) {
            color: v.$btn-default-color-active;
            border-color: v.$btn-default-border-active;
            background: v.$btn-default-bg-active;
        }
    }

    &-dashed {
        background: v.$btn-dashed-bg;
        color: v.$btn-dashed-color;
        border-color: v.$btn-dashed-border-color;
        border-style: dashed;

        &:hover:not(.btn-disabled):not(:disabled) {
            color: v.$btn-dashed-color-hover;
            border-color: v.$btn-dashed-border-hover;
            background: v.$btn-dashed-bg-hover;
        }

        &:active:not(.btn-disabled):not(:disabled) {
            background: v.$btn-dashed-bg-active;
            color: v.$btn-dashed-color-active;
            border-color: v.$btn-dashed-border-active;
        }
    }

    &-text {
        color: v.$btn-text-color;
        border: none;
        &:hover:not(.btn-disabled):not(:disabled) {
            background-color: v.$btn-text-bg-hover;
            color: v.$btn-text-color-hover;
        }
        &:active:not(.btn-disabled):not(:disabled) {
            background-color: v.$btn-text-bg-active;
            color: v.$btn-text-color-active;
        }
    }
    &-link {
        color: v.$btn-link-color;
        border: none;
        &:hover:not(.btn-disabled):not(:disabled) {
            color: v.$btn-link-color-hover;
        }
        &:active:not(.btn-disabled):not(:disabled) {
            color: v.$btn-link-color-active;
        }
    }

    // 大小适配
    &-large {
        height: v.$btn-height-lg;
        font-size: v.$btn-font-size-lg;
        padding: v.$btn-padding-y v.$btn-padding-x;
    }

    &-small {
        height: v.$btn-height-sm;
        font-size: v.$btn-font-size-sm;
        padding: v.$btn-padding-y 7px;
    }

    &-loading {
        opacity: 0.65;
        cursor: default;
    }
}

.btn-anim {
    animation: btn-spread-shadow 0.35s cubic-bezier(.645, .045, .355, 1) forwards;
}

@keyframes btn-spread-shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(22, 119, 255, 0.07); // 起点：无阴影
    }

    70% {
        box-shadow: 0 0 0 6px rgba(22, 119, 255, 0.07); // 扩散到最大，透明度保持
    }

    100% {
        box-shadow: 0 0 0 8px rgba(22, 119, 255, 0.03); // 渐隐为0，半径可略再大一点
    }
}

.btn-icon {
    margin-right: 8px;
}

.loading-fade-enter {
    opacity: 0;
    max-width: 0;
}

.loading-fade-enter-active {
    opacity: 1;
    max-width: 20px;
    transition:
        opacity 0.2s ease-in-out,
        max-width 0.2s ease-in-out;
}

.loading-fade-exit {
    opacity: 1;
    width: 14px;
    transition:
        opacity 0.2s ease,
        width   0.2s ease,
        margin-right 0.2s ease;
}

.loading-fade-exit-active {
    opacity: 0;
    width: 0;
    margin: 0;
}