@mixin ghost-variant($base-color, $hover-color: $base-color, $active-color: $base-color) {
    background: transparent;
    color: $base-color;
    border-color: $base-color;

    &:hover:not(.btn-disabled):not(:disabled) {
        background: transparent;
        color: $hover-color;
        border-color: $hover-color;
    }

    &:active:not(.btn-disabled):not(:disabled) {
        background: transparent;
        color: $active-color;
        border-color: $active-color;
    }
}

.btn {
    --btn-blue-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    --btn-red-shadow: 0 2px 0 rgba(255, 22, 5, 0.06);

    --btn-primary-background: var(--color-primary);
    --btn-primary-background-hover: var(--color-primary-hover);
    --btn-primary-background-active: var(--color-primary-active);
    --btn-primary-color: #fff;
    --btn-primary-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);

    --btn-default-background: #fff;
    --btn-default-color-hover: var(--color-primary-hover);
    --btn-default-color-active: var(--color-primary-active);
    --btn-default-border-color: var(--color-border);
    --btn-default-border-color-hover: var(--color-primary-hover);
    --btn-default-border-color-active: var(--color-primary-active);
    --btn-default-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);

    --btn-text-background-hover: rgba(0, 0, 0, 0.04);
    --btn-text-background-active: rgba(0, 0, 0, 0.15);

    --btn-link-color: var(--color-primary);
    --btn-link-color-hover: var(--color-primary-hover);
    --btn-link-color-active: var(--color-primary-active);

    --btn-disabled-background: rgba(0, 0, 0, 0.04);
    --btn-disabled-color: rgba(0, 0, 0, 0.25);

    --btn-primary-background-danger: #ff4d4f;
    --btn-primary-background-danger-hover: #ff7875;
    --btn-primary-background-danger-active: #d9363e;
    --btn-primary-color-danger: #fff;

    --btn-default-background-danger: #fff;
    --btn-default-color-danger: #ff4d4f;
    --btn-default-color-danger-hover: #ff7875;
    --btn-default-color-danger-active: #d9363e;
    --btn-default-border-color-danger: #ff4d4f;
    --btn-default-border-color-danger-hover: #ff7875;
    --btn-default-border-color-danger-active: #d9363e;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    border-width: var(--line-width);
    border-style: var(--line-type);
    border-color: transparent;
    font-family: var(--font-family);
    cursor: pointer;
    transition: all var(--motion-duration-mid) var(--motion-ease-in-out);
    background: transparent;
    color: var(--color-text-primary);
    position: relative;
    box-shadow: var(--btn-blue-shadow);
    box-sizing: border-box;
    --animation-color: var(--btn-default-border-color-hover);

    &:disabled {
        cursor: not-allowed;
        background: var(--btn-disabled-background);
        color: var(--btn-disabled-color);
    }

    // 块级按钮
    &-block {
        width: 100%;
        display: block;
    }

    // Primary 类型
    &-primary {
        --animation-color: var(--btn-primary-background);
        background: var(--btn-primary-background);
        color: var(--btn-primary-color);
        box-shadow: var(--btn-primary-shadow);

        &:hover:not(.btn-disabled):not(:disabled) {
            background: var(--btn-primary-background-hover);
        }

        &:active:not(.btn-disabled):not(:disabled) {
            background: var(--btn-primary-background-active);
        }

        &.btn-ghost {
            @include ghost-variant(var(--btn-primary-background), var(--btn-primary-background-hover), var(--btn-primary-background-active));
        }
    }

    // Default 类型
    &-default {
        background: var(--btn-default-background);
        border-color: var(--btn-default-border-color);
        box-shadow: var(--btn-default-shadow);

        &:hover:not(.btn-disabled):not(:disabled) {
            color: var(--btn-default-color-hover);
            border-color: var(--btn-default-border-color-hover)
        }

        &:active:not(.btn-disabled):not(:disabled) {
            color: var(--btn-default-color-active);
            border-color: var(--btn-default-border-color-active);
        }

        &.btn-ghost {
            @include ghost-variant(var(--btn-default-background), var(--btn-default-color-hover), var(--btn-default-color-hover));
        }
    }

    &-dashed {
        background: var(--btn-default-background);
        border-color: var(--btn-default-border-color);
        box-shadow: var(--btn-default-shadow);
        border-style: dashed;

        &:hover:not(.btn-disabled):not(:disabled) {
            color: var(--btn-default-color-hover);
            border-color: var(--btn-default-border-color-hover)
        }

        &:active:not(.btn-disabled):not(:disabled) {
            color: var(--btn-default-color-hover);
            border-color: var(--btn-default-border-color-hover)
        }

        &.btn-ghost {
            @include ghost-variant(var(--btn-default-background), var(--btn-default-color-hover), var(--btn-default-color-hover));
        }
    }

    &-text {
        border: none;
        box-shadow: none;

        &:hover:not(.btn-disabled):not(:disabled) {
            background-color: var(--btn-text-background-hover);
        }

        &:active:not(.btn-disabled):not(:disabled) {
            background-color: var(--btn-text-background-active);
        }
    }

    &-link {
        color: var(--btn-link-color);
        border: none;
        box-shadow: none;
        text-decoration: none;

        &:hover:not(.btn-disabled):not(:disabled) {
            color: var(--btn-link-color-hover);
        }

        &:active:not(.btn-disabled):not(:disabled) {
            color: var(--btn-link-color-active);
        }
    }

    &-small {
        font-size: var(--font-size-sm);
        height: var(--control-height-sm);
        padding: 0px 7px;
    }

    &-middle {
        font-size: var(--font-size);
        height: var(--control-height);
        padding: 0 var(--padding);
    }

    &-large {
        font-size: var(--font-size-lg);
        height: var(--control-height-lg);
        padding: 0 var(--padding);
    }

    &-icon-only {
        padding: 0;
        aspect-ratio: 1;
    }

    &-loading {
        opacity: 0.65;
        cursor: default;
    }

    &.btn-primary.btn-danger {
        --btn-primary-background: var(--btn-primary-background-danger);
        background: var(--btn-primary-background-danger);
        color: var(--btn-primary-color-danger);

        &:hover:not(.btn-disabled):not(:disabled) {
            background: var(--btn-primary-background-danger-hover);
            color: var(--btn-primary-color-danger);
        }

        &:active:not(.btn-disabled):not(:disabled) {
            background: var(--btn-primary-background-danger-active);
            color: var(--btn-primary-color-danger);
        }
    }

    &.btn-danger {
        --btn-default-border-color-hover: var(--btn-default-border-color-danger-hover);
        background: var(--btn-default-background-danger);
        color: var(--btn-default-color-danger);
        border-color: var(--btn-default-border-color-danger);

        &:hover:not(.btn-disabled):not(:disabled) {
            background: var(--btn-default-background-danger);
            color: var(--btn-default-color-danger-hover);
            border-color: var(--btn-default-border-color-danger-hover);
        }

        &:active:not(.btn-disabled):not(:disabled) {
            background: var(--btn-default-background-danger);
            color: var(--btn-default-color-danger-active);
            border-color: var(--btn-default-border-color-danger-active);
        }
    }
}

.btn-anim {
    animation: btn-spread-shadow 0.35s cubic-bezier(.645, .045, .355, 1) forwards;
}

@keyframes btn-spread-shadow {
    0% {
        box-shadow: 0 0 0 0 var(--anim-start, rgba(22, 119, 255, 0.1));
    }

    70% {
        box-shadow: 0 0 0 6px var(--anim-start);
    }

    100% {
        box-shadow: 0 0 0 8px var(--anim-end);
    }
}


.btn-icon-start {
    margin-right: 8px;
}

.btn-icon-end {
    margin-left: 8px
}

.loading-fade-enter {
    opacity: 0;
    max-width: 0;
}

.loading-fade-enter-active {
    opacity: 1;
    max-width: 20px;
    transition:
        opacity 0.2s ease-in-out,
        max-width 0.2s ease-in-out;
}

.loading-fade-exit {
    opacity: 1;
    width: 14px;
    transition:
        opacity 0.2s ease,
        width 0.2s ease,
        margin-right 0.2s ease,
        margin-left 0.2s ease;
}

.loading-fade-exit-active {
    opacity: 0;
    width: 0;
    margin: 0;
}